name: Build

on:
  pull_request:
  push:
    branches: [main]
    paths:
      - .github/workflows/build.yml
      - Dockerfile.build
      - Cargo.toml
      - src/**
      - scripts/**

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          show-progress: false

      - name: Install dependenc(ies)
        run: |
          sudo apt update
          sudo apt install -y libfreetype-dev libfontconfig-dev libharfbuzz-dev

      - name: Cache Cargo
        uses: actions/cache@v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Setup Rust
        run: |
          rustup default nightly
          rustup component add clippy
          rustup update

      - name: Lint
        run: cargo clippy

  push:
    if: github.ref == 'refs/heads/main'
    uses: winstxnhdw/actions/.github/workflows/docker-push.yml@main
    with:
      file: Dockerfile.build
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      packages: write

  restart:
    needs: [lint, push]
    uses: winstxnhdw/actions/.github/workflows/spaces-restart.yml@main
    secrets:
      token: ${{ secrets.HF_TOKEN }}
