name: Dependabot

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run the Docker containers
        run: docker build -t $REPOSITORY_NAME .
        env:
          REPOSITORY_NAME: ${{ github.event.repository.name }}

  auto-merge:
    needs: build
    uses: winstxnhdw/actions/.github/workflows/dependabot-public.yml@main
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
